// COLORS
$color-a: salmon;
$color-b: thistle;
$color-c: steelblue;
$color-vue: #42b983;

$white: white;
$light-grey: whitesmoke;
$focus-light-grey: #eee7ee;
$medium-grey: lightgrey;
$focus-medium-grey: #ded3de;

// FONTS
$font-a: 'Tajawal', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-b: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// SIZES
$container-width: 1200px;

$gutter: .75rem;
$basic-radius: .75rem;
$small-radius: .25rem;

$bar-height: .25rem;
$header-height: 3rem;
$full-header-height: calc(3rem + .25rem);

// BREAKPOINTS
$phone-small: 320px;
	  $phone: 480px;
	 $tablet: 980px;
	 $laptop: 1140px;

// ANIMATIONS
$speed: 300ms;
$easing: ease-in-out;
