@import '../settings/settings.global';

.o-smallpage{
    text-align: center;
    width: 400px;
    margin: 0 auto;
    background-color: $white;
    border-radius: $basic-radius;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin-top: 3rem;
}

.o-smallpage-header{
    font-size: 2rem;
    line-height: 1.2;
    width: 100%;
    margin-bottom: 3rem;
}