@media only screen and (min-width: 1350px) { 
    .c-game {
        max-width: 1268px;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: auto;
        grid-gap: 1.5em;
    }
    
    .c-game-row {
        grid-template-columns: 1fr 800px 300px;
        grid-template-rows: auto;
        max-width: 1268px;
    }
}

@media only screen and (max-width: 1349px) { 
    .c-game {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: auto;
        grid-gap: 1.5em;
    }
    
    .c-game-row {
        grid-template-columns: 800px 300px;
        grid-template-rows: auto auto;
    }
}