.c-header{
    display: inline-block;
    margin-bottom: 10px;
}

.c-header__locations{
    font-family: sans-serif;
    font-size: 1.5em;
}

.c-header__button{
    position: absolute;
    right:    0;
    top:   0;
    margin-top: 10px;
    margin-right: 5px;
}
