@import  '../settings/_settings.global';

.c-game-master{
    position: fixed;
    top: $full-header-height;
    left: 0px;
    width: 100%;
    height: calc(100% - 3rem);
    background-color: rgba(255, 255, 255, .75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-hidden {
    display: none;
}
  
h3 {
    font-size: 3rem;
}