@import  '../settings/_settings.global';

.c-chat {
    align-self: start;

    grid-template-rows: 1fr;
    padding: $gutter;

    height: calc(600px - 6.5rem);
    box-sizing: border-box;
    overflow: auto;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 300ms;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.c-chat-announcement {
    color: $medium-grey;
    text-align: center;
    text-transform: uppercase;
    font-size: .75rem;
}

.c-chat-message {
    background-color: $light-grey;
    border-radius: 1.5rem;
    padding: $gutter;
    margin: 0;
    max-width: 80%;
    align-self: flex-end;
    justify-self: end;
    transition: 800ms;
    word-break: break-word;
}

.c-chat-messageb {
    justify-self: start;
}

.c-chat-response {
    justify-self: start;
    display: flex;
}

.c-chat-member {
    align-self: flex-end;
    width: $gutter;
    height: $gutter;
    margin-right: .25rem;
    background-color: $color-b;
    border-radius: 50%;

    transition: 300ms all ease-out;
}

.c-chat-member:hover {
    width: 2.5em;
    height: 2.5em;
    margin-right: $gutter;
}

.c-chat-responseb {
    justify-self: start;
    align-self: flex-end;
    display: flex;
    flex-flow: column nowrap;
}

.c-chat-memberb {
    color: $medium-grey;
    text-align: left;
    text-transform: uppercase;
    font-size: .75rem;
    padding-left: .75rem;
}