@import  '../settings/_settings.global';

@media only screen and (max-width: 1149px) { 
    .c-chat-holder {
        grid-row: 1 / span 2;
    }
}

.c-chat-holder {
    background-color: $white;

    display: grid;
    grid-template-rows: auto .25rem 1fr .25rem auto;

    border-radius: $basic-radius;

    width: 300px;
    height: 600px;
}

.c-word {
    background-color: $medium-grey;
    
    border: none;
    border-radius: $basic-radius $basic-radius 0 0;
    height: 3rem;

    text-align: center;
    line-height: 3rem;
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.c-chat-input {
    background-color: $medium-grey;
    
    border: none;
    border-radius: 0 0 $basic-radius $basic-radius;
    height: 3rem;

    text-align: center;
    font-family: inherit;
    font-size: 100%;

    transition: 300ms ease-in-out;
}

.c-chat-input:focus {
    background-color: $focus-medium-grey;
}