@import  '../settings/_settings.global';

@media only screen and (max-width: 1349px) { 
    .c-brushpicker {
        /*liggend*/
        grid-template-rows: repeat(3, 2rem);
        grid-template-columns: 2rem;
        grid-auto-flow: row;
    }
}

@media only screen and (min-width: 1350px) { 
    .c-brushpicker {
        /*staand*/
        grid-template-rows: 2rem;
        grid-template-columns: repeat(3, 2rem);
        grid-auto-flow: column;
    }
}

.c-brush {
    background-color: $light-grey;
    border-radius: 50%;
    height: 100%;
    width: 100%;

    display: grid;
    align-items: center;
    justify-content: center;
}

.c-brush-size {
    background-color: $color-c;
    border-radius: 50%;
}