@import '../settings/settings.global';

.c-waiting-member{
    background: $light-grey;

    border-radius: $small-radius;

    height: 4rem;
    padding: 0 $gutter;
    margin-bottom: $gutter;

    transition: 300ms ease-in-out;

    display: flex;
    align-items: center;
    align-content: flex-start;
}