@import  '../settings/_settings.global';

@media only screen and (max-width: 1149px) { 
    .c-colorpicker {
        /*fat*/
        grid-template-rows: repeat(5, 2rem);
        grid-template-columns: repeat(6, 2rem);
        grid-auto-flow: row;
        min-width: calc(6 * 2rem + 5 * #{ $gutter });
        max-width: calc(6 * 2rem + 5 * #{ $gutter });
    }
}

@media only screen and (min-width: 1150px) and (max-width: 1349px) { 
    .c-colorpicker {
        /*liggend*/
        grid-template-rows: repeat(3, 2rem);
        grid-template-columns: repeat(10, 2rem);
        grid-auto-flow: column;
        min-width: calc(10 * 2rem + 9 * #{ $gutter });
        max-width: calc(10 * 2rem + 9 * #{ $gutter });
    }
}

@media only screen and (min-width: 1350px) { 
    .c-colorpicker {
        /*staand*/
        grid-template-rows: repeat(10, 2rem);
        grid-template-columns: repeat(3, 2rem);
        grid-auto-flow: row;
        min-height: calc(10 * 2rem + 9 * #{ $gutter });
        max-height: calc(10 * 2rem + 9 * #{ $gutter });
    }
}

.c-color {
    background-color: $light-grey;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.c-color-white {
    box-sizing: border-box;
    border: 2px $light-grey solid;
}